hr
footer.alignCenter
  copy 
    span.attention-grabber #{title}
    span : a multiplayer typing game by 
    author Giuseppe De Ponte
  p source code available on 
    a(href="https://github.com/giuseppedeponte/star-friendship") github@giuseppedeponte
