nav#nav
  a(href="#home")
    i.fa.fa-star &nbsp;Home&emsp;&emsp;
  a(href="#about")
    i.fa.fa-info-circle &nbsp;About this game&emsp;&emsp;
  a(href="#howto")
    i.fa.fa-question-circle &nbsp;How to play&emsp;&emsp;
  a(href="#howto")
    i.fa.fa-terminal &nbsp;Play&nbsp;
