nav#nav
  strong.brand.attention-grabber &ensp;*friendship&emsp;&emsp;
  a(href="/")
    span.fa.fa-star &ensp;Home&emsp;&emsp;
  a(href="/scores")
    span.fa.fa-info-circle &ensp;hall of fame&emsp;&emsp;
  a(href="/howto")
    span.fa.fa-question-circle &ensp;how to play&emsp;&emsp;
  a(href="/play")
    span.fa.fa-terminal &ensp;play!&emsp;&emsp;
