extends layout.pug
block content
  section#username
    article
      h3 
      span.fa.fa-fw.fa-plug 
      |  Connection
      form#uform(action="/play" method="post")
        .former
          input(type="text" id="uname" name="uname" value="" placeholder="Pick a cool name and impress your enemy…" autofocus required tabindex="1")
        if message
          .former.alert
            span.fa.fa-exclamation-circle &emsp;
            span.text= message
        br
        .former
          input(type="submit" value="Argh!!!" tabindex="1")
        figure.avatar.alignLeft
          img(src="" width="75" height="75" alt="Automatic Adorable Avatar")
          figcaption
            | (automatic avatar thanks to 
            a(href="http://avatars.adorable.io/") &ldquo;Adorable Avatars!&rdquo;)
