extends layout.pug
block content
  h2 The Rules
  ol
    li
      i.fa.fa-star 
      | &ensp;Type sentences as fast as you can*, as soon as they appear
    li
      i.fa.fa-star
      | &ensp;The fastest player wins the game!
    li
      i.fa.fa-star 
      | &ensp;Punctuation does not count, only letters, numbers and spaces do
    li
      i.fa.fa-star 
      | &ensp;Each round ends once both players have finished typing the whole sentence
    li
      i.fa.fa-star 
      | &ensp;Be the fastest player or the fastest couple to complete the game and enter the 
      strong *friendship's 
        a(href="/hall-of-fame") Hall of Fame
  br
  p.advice 
    strong * A piece of advice: 
    | fast is good but too fast may lead you to too many typing mistakes and frustrations — yeah, those sentences may be quite nasty! A better strategy might be to slow down a bit and find the right crusing speed for you to keep a fair degree of accuracy while typing.
