extends layout.pug
block content
  h2 The Rules
  ol
    li
      i.fa.fa-star 
      | &ensp;type sentences as fast as you can, as soon as they appear
    li
      i.fa.fa-star 
      | &ensp;the fastest player wins the game!
    li
      i.fa.fa-star 
      | &ensp;ponctuation does not count, only letters, numbers and spaces do
    li
      i.fa.fa-star 
      | &ensp;each round ends once both players have finished typing the whole sentence
    li
      i.fa.fa-star 
      | &ensp;be the fastest player or the fastest couple to complete the game and enter the 
      strong *friendship's Hall-of-Fame
    
