extends layout
block content
  section
    p Welcome to 
      strong.attention-grabber #{title}
    blockquote 
      p — Nous étions amis et nous sommes devenus étrangers. Mais cela était juste, et nous ne voulons ni nous en taire ni nous en cacher comme si nous devions en avoir honte. Nous sommes deux vaisseaux, dont chacun a son propre but et sa route ; il peut nous arriver de nous croiser et de fêter ensemble, comme nous l'avons fait — et à ce moment-là les bons bateaux êtaient si tranquilles dans le même port et sous le même soleil qu'on aurait cru qu'ils étaient déjà arrivés au bout de leur course et qu'ils avaient la même destination. Mais alors la force toute puissante de nos projets nous a conduits à nouveau loin l'un de l'autre, vers d'autres mers et d'autres regions ensoleillées, et peut-être nous ne rencontrerons-nous plus jamais — ou peut-être que si, mais nous ne nous reconnaitrons pas : des mers et des soleils différents nous ont transformés ! Que nous devions dévenir étrangers c'est la loi au-dessus de nous ; ce par quoi nous devrions réussir à avoir plus de respect l'un pour l'autre — et la pensée de notre amitié d'autrefois dévenir plus sacrée ! Il existe probablement une tremende curbe invisible et une orbite stellaire dans laquelle nos différents chemis et objectifs ne seraient inscrit que comme des petits plis — élévons nous à cette pensée ! Mais notre vie est trop courte et notre vision trop faible pour que nous puissions être plus que des amis dans le sens de cette sublime possibilité. — Croyons donc à notre amitié des étoiles même s'il faut que nous soyons ennemis sur la terre.
      cite.alignRight
        author — Friedrich Nietzsche,
        span  The Gay Science #357 
