extends layout
block content
  section
    article
      h3 Dear friend,
      p.attention-grabber
        strong *friendship 
        | (pronounced &ldquo;star friendship&rdquo;) is a 
        span.uppercase pvp 
        | | 
        span.uppercase CooP
        |  video-game about friendship and typing keys on your keyboard as fast as you can.
      p This game has been developed as part of the JavaScript course I&rsquo;m currently attending in Paris, France. If you&rsquo;re interested, you can check out the source code of this and other projects I made on my 
        a(href="https://github.com/giuseppedeponte/star-friendship" alt="my Github account") Github page
        | . Thank you for playing this game, I hope you&rsquo;ll enjoy it.
        br
        | Sincerely, gdp
