extends layout
block content
  section
    article
      h4 Dear friend,
      p.attention-grabber
        strong *friendship 
        | (pronounced &ldquo;star friendship&rdquo;) is a 
        span.uppercase pvp 
        | / 
        span.uppercase CooP
        |  game about friendship and typing on your keyboard as fast as you can.
      p This game has been developed in 2017 as part of the JavaScript Fullstack course I attended in Paris — if you are interested, you can check out the source code of this project on my 
        a(href="https://github.com/giuseppedeponte/star-friendship" alt="my Github account") Github page
        | .
      p Thank you for playing this game.
        br
        | I hope you&rsquo;ll enjoy it.
      cite.alignRight — gdp
      div
        img(src="/img/ship.png" alt="A ship" height="129" width="129").alignCenter
