doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/lib/meyerweb/reset.css')
    link(rel='stylesheet', href='/lib/gutenberg/gutenberg.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://use.fontawesome.com/82f7a8fa5f.js")    
    script(src="/script/app.js")
    block head-amend
  body
    main
      include includes/header.pug
      include includes/nav.pug
      //- hr
      block content
      //- hr
      //- include includes/footer.pug
