doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/lib/meyerweb/reset.css')
    link(rel='stylesheet', href='/lib/gutenberg/gutenberg.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://use.fontawesome.com/82f7a8fa5f.js")
  body
    main.grid
      include includes/header.pug
      include includes/nav.pug
      //- hr
      block content
      //- hr
      //- include includes/footer.pug
