extends layout.pug
block head-amend
  script(src="/socket.io/socket.io.js" charset="utf-8")
  script(src="/script/play.js")
block content
  section#game
    article
      h3 
      span.fa.fa-fw.fa-terminal 
      |  Play !
      #players
        figure.me
          figcaption.name= user.name
          img(src="https://api.adorable.io/avatars/50/" + user.name.toLowerCase().split(' ').join('-'), width="50" height="50" alt="Automatic Adorable Avatar").avatar
          figcaption
            span.score
            span  s
        p
          i.fa.fa-2x.fa-exchange
        figure.it
          figcaption.name ...
          img(src="" width="50" height="50" alt="Waiting for opponent").avatar
          figcaption
            span.score
            span  s
      hr
      #field
        p.me  &emsp;
          span.sentence
        //- | We were friends and have become estranged.
        p#sentence.attention-grabber 
          i.fa.fa-cog.fa-spin.fa-2x.fa-fw
          //- span We were friends and have become estranged.
        p.it  &emsp;
          span.sentence
        //- | We were friends and have become estranged.
