extends layout.pug
block content
  section#username
    article
      h3 Connection
      form(id="uform" action="#" method="post")
        .former
          input(type="text" id="uname" name="uname" value="" placeholder="Pick a cool name and impress your enemy..." required)
        .former
          input(type="submit" value="Argh!")
        .former
          p.alert
            i — Sorry, this name is not available at the moment...
