extends layout.pug
block content
  section#username
    h3 Pick a cool name and impress your enemy&emsp;
    br
    form(id="uform" action="#" method="post")
      input(type="text" id="uname" name="uname" onkeyup="this.setAttribute('value', this.value);" value="" required)
      label(for="uname") Beware of me! My name is...
      input(type="submit" value="Argh!")
