extends layout.pug
block head-amend
  script(src="/socket.io/socket.io.js" charset="utf-8")
  script(src="/script/play.js")
block content
  section#game
      #players
        figure.me
          figcaption.name= user
          img(src="https://api.adorable.io/avatars/50/" + user.toLowerCase().split(' ').join('-'), width="50" height="50" alt="Automatic Adorable Avatar").avatar
          figcaption
            span.score
            span  s
        p
          i.fa.fa-2x.fa-exchange
        figure.nme
          figcaption.name ...
          img(src="" width="50" height="50" alt="No player").avatar
          figcaption
            span.score
            span  s
      #dialog
        p 
        i.fa.fa-fw.fa-cog.fa-spin 
        span &nbsp;
        span.text  Waiting for another player...
      hr
      #field
        p.me.id
          span.fa.fa-2x.fa-terminal
          span &emsp;
          span.name
        p.me
          span.sentence
          //- | We were friends and have become estranged. We were friends and have become estranged. We were friends and have become estranged.
        p#sentence.attention-grabber 
          i.fa.fa-cog.fa-spin.fa-2x.fa-fw
          //- | We were friends and have become estranged.
        p.nme
          span.sentence
          //- | We were friends and have become estranged. We were friends and have become estranged. We were friends and have become estranged.
        p.nme.id
          span.name
          span &emsp;
          span.fa.fa-2x.fa-terminal.fa-flip-horizontal
