extends layout.pug
block content
  section#game
    article
      h3 
      span.fa.fa-fw.fa-terminal 
      |  Play !
      #players
        figure
          figcaption= user.name
          img(src="https://api.adorable.io/avatars/50/"+user.name.toLowerCase().split(' ').join('-'), width="50" height="50" alt="Automatic Adorable Avatar")
          figcaption.score 0.00 s
        p
          i.fa.fa-2x.fa-exchange
        figure
          figcaption Superman
          img(src="https://api.adorable.io/avatars/50/pl2" width="50" height="50" alt="Automatic Adorable Avatar")
          figcaption.score 0.00 s
      hr
      #field
        p#player1 We were friends and have become estranged.
        p#sentence.attention-grabber We were friends and have become estranged.
        p#player2 We were friends and have become estranged.
