/* GENERIC STYLES */
html {
  font-size: 20px;
  font-size: 125%;
}
body {
  width: 100%;
  background-color: #fefefe;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
a:visited {
  color: #222;
}
a:active,
a:visited:active {
  color: indianred;
}
a:hover,
a:focus,
a:visited:hover,
a:visited:focus {
  color: tomato;
  outline: none;
}
footer {
  position: fixed;
  bottom: 1rem;
  background-color: #fefefe;
}
input,
select,
button[type='submit'] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: inherit;
  padding: inherit;
  line-height: inherit;
}
input:not([type='submit']) {
  height: 3.3rem;
  border-bottom: 1px solid #aaa;
}
input:not([type='submit']):focus {
  border-bottom: 5px solid tomato;
}
.former {
  height: 5rem;
}
#uform #avatar {
  border-radius: 10px;
}
#uform #uname {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}
#uform input[type="submit"] {
  display: inline-block;
  width: 50%;
  margin-left: 25%;
  background-color: #222;
  color: #fefefe;
  border-radius: 20px;
}
#uform #uname:valid ~ input[type="submit"],
#uform #uname:valid ~ input[type="submit"]:focus:active,
#uform #uname:valid ~ input[type="submit"]:hover:active {
  background-color: tomato;
}
#uform #uname:valid ~ input[type="submit"]:focus,
#uform #uname:valid ~ input[type="submit"]:hover {
  background-color: rgba(255,99,71,0.75);
}

/* NAVIGATION */
#nav {
  text-align: center;
  -webkit-transition: position .5s ease-in-out;
  -o-transition: position .5s ease-in-out;
  -moz-transition: position .5s ease-in-out;
  transition: position .5s ease-in-out;
  margin-bottom: 0;
}
#nav a {
  display: inline-block;
  text-decoration: none;
}
#nav .brand {
  display: none;
}
#nav.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fefefe;
  max-width: none;
  margin: 0;
  height: 3.5rem;
}
#nav.top .brand {
  display: inline-block;
}
#nav.top strong,
#nav.top a {
  height: 100%;
  line-height: 3.5rem;
  text-align: center;
  padding: 0 0.47rem;
}
#nav.top a:hover,
#nav.top a:focus {
  color: tomato;
  border-bottom: 5px solid tomato;
}
