/* GENERIC STYLES */
html {
  font-size: 20px;
  font-size: 125%;
  height: 100vh;
}
body {
  width: 100%;
  background-color: #fefefe;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
a:visited {
  color: #222;
}
a:active,
a:visited:active {
  color: indianred;
}
a:hover,
a:focus,
a:visited:hover,
a:visited:focus {
  color: tomato;
  outline: none;
}
footer {
  position: fixed;
  bottom: 1rem;
  background-color: #fefefe;
}
input,
select,
button[type='submit'] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: inherit;
  padding: inherit;
  line-height: inherit;
  box-shadow: none;
}
input:not([type='submit']) {
  height: 3.3rem;
  border-bottom: 1px solid #aaa;
}
input:not([type='submit']):focus {
  border-bottom: 5px solid tomato;
}
.former {
  height: 4rem;
  margin: 0.5rem auto;
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}
/* UFORM */
#uform .avatar img {
  border-radius: 10px;
  border-radius: 10px;
  outline: 1px solid #aaa;
  outline-offset: 4px;
  outline-style: dashed;
  margin: 0.6rem auto;
  font-size: x-small;
  line-height: 2;
  text-align: center;
}
#uform .avatar figcaption {
  font-size: x-small;
}
#uform #uname {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}
#uform input[type="submit"].disabled {
  opacity: 0.25;
}
#uform input[type="submit"],
#uform input[type="submit"]:not(.disabled):active,
#uform input[type="submit"]:not(.disabled):active:focus,
#uform input[type="submit"]:not(.disabled):active:hover {
  display: block;
  width: 50%;
  margin-left: 25%;
  background-color: #222;
  color: #fefefe;
  border-radius: 20px;
}
#uform input[type="submit"]:not(.disabled):focus,
#uform input[type="submit"]:not(.disabled):hover {
  cursor: pointer;
  background-color: tomato;
  transition: all .5s;
}
#uform .loading {
  position: relative;
}
#uform .loading::before {
  /*content: 'Argh!!!';*/
  content: ' ';
  width: 50%;
  position: absolute;
  margin-left: 25%;
  height: 34px;
  background-color: #222;
  color: #fefefe;
  font-weight: bold;
  animation: loading 2s linear infinite;
  border-radius: 20px;
  text-align: center;
}
@keyframes loading {
  0%, 100% {
    content: '* * *';
  }
  20%, 80% {
    content: '* *'
  }
  40%, 60% {
    content: '*'
  }
  50% {
    content: '';
  }
}
#uform .alert {
  padding: 0.5rem 2rem;
  background-color: tomato;
  color: #fefefe;
  text-align: center;
  margin-top: -0.7rem;
  font-size: small;
  line-height: 2.1;
  border-radius: 0 0 27px 27px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2) inset;
}
/* GAME */
#dialog {
  width: 100%;
  background-color: #222;
  height: 1.75rem;
  line-height: 1.75rem;
  color: #fefefe;
  font-size: small;
  text-align: center;
  margin-top: 1.7rem;
  border-radius: 5px;
  transition: background-color .2s linear;
}
#dialog.red {
  background-color: crimson;
}
#dialog.orange {
  background-color: orange;
  color: #222;
}
#dialog.yellow {
  background-color: gold;
  color: #222;
}
#dialog.green {
  background-color: mediumseagreen;
}
#players {
  margin: .8125rem auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#players .score {
  font-weight: bold;
  font-style: normal;
}
#players figure {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 40%;
}
/*#players figure:first-of-type {
  flex-direction: column-reverse;
}*/
#players figure img {
  border-radius: 10px;
  outline: 1px solid #aaa;
  outline-offset: 4px;
  outline-style: dashed;
  margin: 0.6rem auto;
  font-size: xx-small;
  line-height: 2;
  text-align: center;
}
#players figure figcaption {
  font-size: small;
}
#sentence {
  text-align: center;
  margin: .8125rem;
  min-height: 2rem;
}
#field .me,
#field .nme {
  font-size: small;
  width: 100%;
  overflow: hidden;
  word-break: break-word;
  line-height: 1.8;
}
#field .me .sentence,
#field .nme .sentence {
  display: block;
  color: #999;
  min-height: 2rem;
  text-indent: 0.4rem;
}
#field .id span {
  color: #ddd;
}
#field .me {
  padding-right: 33%;
}
#field .nme {
  padding-left: 33%;
  text-align: right;
}
#field .name {
  font-size: 1.4rem;
  text-transform: lowercase;
}
/* NAVIGATION */
#nav {
  text-align: center;
  -webkit-transition: position .5s ease-in-out;
  -o-transition: position .5s ease-in-out;
  -moz-transition: position .5s ease-in-out;
  transition: position .5s ease-in-out;
  margin-bottom: 0;
}
#nav a {
  display: inline-block;
  text-decoration: none;
}
#nav .brand {
  display: none;
}
#nav.fixed,
#nav.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fefefe;
  max-width: none;
  margin: 0;
  height: 3.5rem;
}
#nav.top + section,
#nav.fixed + section {
  margin-top: 3.5rem;
}
#nav.fixed .brand,
#nav.top .brand {
  display: inline-block;
}
#nav.fixed strong,
#nav.fixed a,
#nav.top strong,
#nav.top a {
  height: 100%;
  line-height: 3.5rem;
  text-align: center;
  padding: 0 0.47rem;
}
#nav.fixed a:hover,
#nav.fixed a:focus,
#nav.top a:hover,
#nav.top a:focus {
  color: tomato;
  border-bottom: 5px solid tomato;
}
